<!DOCTYPE html>
<html lang="pt_br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta codigoSemana2="1415800618">
    <link rel="stylesheet" href="style/style.css">
    
    <title>PWeb - Cadastrar Produto</title>
    <form action="exibir-dados.php" class="formulario" method="post"> 
        <p> Cadastro de Produtos</p>
        
        <div class="field">
            <label for="codigo do produto">Código do Produto:</label>
            <input type="text" id="codigo do produto" name="nome" placeholder="codigo do produto*" required>
        </div>

        
        <div class="field">
            <label for="nome">Nome do produto:</label>
            <input type="text" id="nome do produto" name="nome do produto">
        </div>
        
        <div class="field">
          <label for="nome">Marca do produto:</label>
          <input type="text" id="marca do produto" name="marca do produto">
      </div>
        <div class="field">
            <label for="altura">Altura:</label>
            <input type="altura" id="altura" name="altura">
        </div>        
        
        <div class="field">
            <label for="largura">Largura:</label>
            <input type="largura" id="largura" name="largura">
        </div>   
        
        <div class="field">
          <label for="produndidade">Profundidade:</label>
          <input type="profundidade" id="profundidade" name="profundidade">
      </div>   
       
      <div class="field">
        <label for="preço ">Preço:</label>
        <input type="preço" id="preço" name="preço">
    </div> 
        <div class="field">
            



</body>
</html>