<!DOCTYPE html>
<html lang="pt_br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta codigoSemana2="1415800618">
    <link rel="stylesheet" href="style/style.css">
    <title>PWeb - Listar Pessoas</title>
</head>
<body>
		
                  
      
      </style>
           
      </head>
      
      <body>
        <style>
          table {
            border-collapse: collapse;
            width: 100%;
          }
          
          th, td {
            padding: 8px;
            text-align: left;
            border-bottom: 1px solid #ddd;
          }
          
          tr:hover {background-color:#f5f5f5;}
          </style>
          </head>
          <body>
          
              
          <table>
            <tr>           
            
            </style>
        <h1>Lista de Pessoas Cadastradas </h1>

                 <table>
              <tr>
                <th>Código</th>
                <th>Nome Completo</th>
                <th>Gênero</th>
                <th>Endereço</th>
                <th>e-mail</th>
                <th> Cep</th>

              </tr>
              
              
            </table>    
        </thead>
        <tbody>
               
          
      
               
 
     
  
     

</html>