<!DOCTYPE html>
<html xmlns:th= "http://thymeleaf.org"
      xmlns:layout= "http://utranet.net.nz/thymeleaf/layout">



<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta codigoSecreto="1798673360">
    <link rel="stylesheet" href="style/style.css">
    <title>PWeb - Celiane Karina</title>
</head>

</style>
</head>

<body>


<style>
	body {
	  margin: 0;
	}
	
	ul {
	  list-style-type: none;
	  margin: 0;
	  padding: 0;
	  width: 25%;
	  background-color: #f1f1f1;
	  position: fixed;
	  height: 100%;
	  overflow: auto;
	}
	
	li a {
	  display: #block;
	  color: #000;
	  padding: 8px 16px;
	  text-decoration: none;
	}
	
	li a.active {
	  background-color: # #4B0082;
	  color: white;
	}
	
	li a:hover:not(.active) {
	  background-color:  #555;
	  color:  indigo;
	}
	</style>
	</head>
	<body>
	
	<ul>
	  <li><a class="Inicio" href="#Início">Inicio</a></li>
	  <li><a href="#Canais de noticias">Canais de noticias</a></li>
	  <li><a href="#Adicionar Pessoa">Adicionar Pessoa</a></li>
	  <li><a href="#Listar Pessoas">Listar Pessoas</a></li>
	  <li><a href="#Mande um e-mail">Mande um e-mail</a></li>
		  
	</ul>
	

	
	<div style="margin-left:25%;padding:1px 16px;height:1000px;">
	  <h2>Fixed Full-height Side Nav</h2>
	
	  
	</div>
	
	</body>
	</html>
	