<!DOCTYPE html>

<html xmlns:th= "http:// thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
   <head>
   
   <title>  Clientes </title>
   </head>
   <body>
   
   <h1> Cadastro de Clientes: </h1>
   <form method= "post">
        Nome: <imput type="text" value= "" name= "nome"/>
        Local: <imput type="text" value= "" name= "local"/>
        Data <imput type="text" value= "" name= "data"/>
        Horario: <imput type="text" value= "" name= "horario"/>
        
        <button type= "submit">Salvar</button>
        
    </form>
    </body>
    
    </html>    